<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/company.css') }}"
    />
    <title>Company</title>
  </head>
  <body>
    {{ name }}
    <br />
    {{ country}}
    <br />
    {{ city }}
    <br />
    {{ industry }}
    <br />
    {{ employees }}
    <br />
    {{ business }}
    <hr />
    <h2>Cotización</h2>
    <!--<img src="/timeline" alt="Cotización" />-->
    <img src="data:image/png;base64, {{ timeline }}" />
    <!-- <img src="data:image/png;base64, {{ dividends }}" /> -->

    <h2>Dividendos</h2>
    <img src="data:image/png;base64, {{ dividends }}" />

    <h2>Comparación con otras empresas</h2>
    <img src="data:image/png;base64, {{ comparation }}" />
  </body>
</html>
