<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/company.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>Company</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <br />
    <h2>Noticias recientes</h2>
    <div class="container">
      <div class="row"><a href="{{ link1 }}"> {{ title1 }}</a></div>
      <div class="row"><a href="{{ link2 }}"> {{ title2 }}</a></div>
      <div class="row"><a href="{{ link3 }}"> {{ title3 }}</a></div>
    </div>

    <hr />
    <h2>Cotización</h2>
    <!--<img src="/timeline" alt="Cotización" />-->
    <img src="data:image/png;base64, {{ timeline }}" alt="Cotizacion" />
    <!-- <img src="data:image/png;base64, {{ dividends }}" /> -->

    <h2>Dividendos</h2>
    <img src="data:image/png;base64, {{ dividends }}" alt="Dividendos" />

    <h2>Comparación con otras empresas</h2>
    <img src="data:image/png;base64, {{ comparation }}" alt="Comparación" />

    <hr />
    <h2>Datos de la empresa</h2>
    {{ country}}
    <br />
    {{ city }}
    <br />
    {{ industry }}
    <br />
    {{ employees }}
    <br />

    {{ business }}
    <br />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
